:root {
  --primary-color: #ffc400;
  --secondary-color: rgb(255, 226, 129);
  --box-shadow: 12px 12px 2px 1px rgba(255, 236, 129, 0.2);
}

@media (max-width: 989px) {
  h2 {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  #large-image {
    display: none;
  }

  h2.mb-3,
  p {
    text-align: center;
  }

  .primary-link {
    display: flex;
    justify-content: center;
  }

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

#small-image {
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.navbar {
  background: #fff4d1;
}

.hero {
  padding: 90px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff4d1;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 36px;
}

.mb-3 {
  text-align: left;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.portrait {
  width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}

.header-h1 {
  margin-top: 70px;
}
.navigation-links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.collapse {
  display: flex;
  justify-content: right;
}

.social-footer {
  margin: 0 auto;
  text-align: center;
}
.social-icons {
  list-style-type: none;
  margin: 20px;
  margin-top: 70px;
  padding: 20px 15px;
}

.social-item {
  display: inline-flex;
  padding: 15px;
  margin: 0 auto;
}

#social {
  width: 30px;
}

.contact-link {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.about-link {
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
}
a.back-link {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  margin-top: 60px;
}
.about-paragraphs {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.about-paragraphs p {
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

a.email-link {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

a {
  color: var(--primary-color);
  cursor: pointer;
}
a:hover {
  color: var(--secondary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: white;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

#work-container {
  margin: 0 auto;
  padding-top: 90px;
}

#medium-image {
  width: 300px;
  margin: 0 auto;
  padding: 0px 10px;
}

.project-title {
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

.github-link {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 25px;
  text-align: center;
}

#project-summary {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 35px;
}
